@model IEnumerable<WebAPP.Booking>

@{
    ViewBag.Title = "Bookings";
}

<h2>Your Booking's</h2>
@* sort/search functionality 
    
    /* Date: Feb 15, 2020
    * Author: Chris Yamez
    *
    * Thread Project #2
    *
    * this will make searching for specific bookins easier for the user.
    *
    *
    */
*@
@*<p>
    @using (Html.BeginForm("Index", "BookingDetails", FormMethod.Get))
    {
        <b>Search By:</b> @Html.RadioButton("searchBy", "BookingDate", true) <text>Date</text>
                          @Html.RadioButton("searchBy", "TravelerCount") <text>TravelerCount</text><br />
                          @Html.TextBox("Search") <input type="Submit" value="Search" />
    }
</p>*@
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.BookingDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BookingNo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TravelerCount)
        </th>
        @*<th>
            @Html.DisplayNameFor(model => model.TripTypeId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Customer.CustFirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Package.PkgName)
        </th>*@
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.BookingDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BookingNo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TravelerCount)
        </td>
        @*<td>
            @Html.DisplayFor(modelItem => item.TripTypeId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Customer.CustFirstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Package.PkgName)
        </td>*@
        <td>
            @Html.ActionLink("Details","Details", "BookingDetails", new { id=item.BookingId }, null)
        </td>
    </tr>
}

</table>
